@import url("modern-normalize.css");


/* My reset */
:root {
    line-height: 1.5;
  }
  
  h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
  }
  
  ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
  }
  
  h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  img {
    display: block;
    max-inline-size: 100%;
  }



body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  width: 300px;
  border: solid rgb(0, 0, 0);
  flex-wrap: wrap;
  /* overflow: auto; */
}

.display {
  width: 100%;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.operators {
  display: flex;
  flex-flow: column nowrap;
}

.operator {
  aspect-ratio: 1;
  width: 4rem;
}

.number {
  border-radius: 5px; 
  aspect-ratio: 1; 
  width: 4rem;
}

.display {
  border: solid black;
}


